@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@700&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #13161a;
	color: #fff;
	font-family: monospace;
	font-size: 15px;
	font-weight: 500;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #FFFFFF;	
}

.container {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
	padding-top: 50px;
}
.mainContent {
	margin-top: 20px;
}
h1 {
	font-size: 40px;
}

:root {  
  --violet_main: rgb(174, 156, 255);
  --violet_dark: rgb(220, 140, 255);
  --pink: rgb(217, 156, 255);
  --gray: #777;
}

@keyframes sex{
	from {
		background-position: 0% center;
	}
	to {
		background-position: 200% center;
	}
}

.tonloot {
	background:linear-gradient(
		to right,
		var(--violet_main),
		var(--violet_dark),
		var(--pink),
		var(--violet_main));
	white-space: nowrap;
	background-size: 200%;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	animation: sex 4s linear infinite;
}

.aboutSite {
	color: var(--gray);
}
.mainHeadersLinks {
	margin-top: 30px;
}

.aboutGame {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.crashGame {
	padding-top: 10px;
}

.crash {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.crash svg {
	padding-right: 5px;
}

.gameName {
	font-size: 20px;
	font-weight: 800;
}

.timer {
	width: 100%;
	max-height: 400px;
	height: 400px;
	background-color: #191D23;
	margin-top: 10px;
	border-radius: 20px;
  	justify-content: center;
	align-items: center;
}

.timerDisplay {
	text-align: center;
	align-items: center;
	padding-top: 85px;
	overflow: hidden;
}

#seconds {
	font-size: 50px;
	margin: 0 auto;
	font-weight: 600;
	font-family: 'Martian Mono', monospace;
}

.gameCounters {
	padding: 20px;
	font-weight: 300;
}

#bank {
	color: var(--violet_main);
}

.playersDisplay {
		color: #777;
}

.progressBar {
	height: 3px;
	background-color: #8F7DE1;
	width: 100%;
}

.bars {
	padding-top: 20px;
}

.lastcoefsList {
	color: var(--gray);
	display: flex;
	text-align: center;
	margin: 0 auto;
	padding-top: 120px;
	overflow: overlay;
}	

.lastcoefsList::-webkit-scrollbar {
	width: 0;
}

	
.lastcoefsList li {
	padding: 10px;
}

button {
	background-color: #191D23;
	color: var(--violet_main);
	width: 100%;
	padding: 20px;
	border: none;
	margin-top: 5px;
	font-family: 'Open-Sans', sans-serif;
	font-size: 15px;
	border-radius: 20px;
}

.footer {
	color: var(--gray);
	text-align: center;
	padding-top: 100px;
}